<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQs</title>
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>

<body>
    <p class="top-header">Frequently Asked Questions(FAQs)</p>
    <div class="top-container">
        <div class="top-btn-container" onclick="handleNewEditBtn(event, 'add')">
            <button class="top-btn" id="add-qstn-top-btn" data-action="add">
                <i class="fas fa-plus"></i> Add New Category
            </button>
            <button class="top-btn" id="edit-qstn-top-btn" data-action="edit">
                <i class="fas fa-edit"></i> Edit or Update Category
            </button>
            <button class="top-btn" id="add-new-qstn-top-btn" data-action="qstn">
                <i class="fas fa-question"></i> Add New Question
            </button>
            <button class="top-btn" id="edit-new-qstn-top-btn" data-action="qstn">
                <i class="fas fa-pencil-alt"></i> Edit Question
            </button>
            <!-- Last button with unique ID -->
            <button class="top-btn" id="for-feedback-btn" data-action="feedback">
                <i class="fas fa-comment-alt"></i> For Feedback
            </button>
        </div>
        
        <div class="form-group-container" id="form-group-container">
            <div class="root-category-modal" id="subcategory-modal" style="display:none;">
                <div class="modal-content">
                    <button id="add-more-subcategory-btn" class="add-question-btn">Add More Sub-Category</button>
                    <button class="choose-sub-category-btn" id="add-question-btn">Add Question</button>
                </div>
            </div>
            <div class="form-container hide" id="add-ctgry-form-container">

                <div id="create-new-ctgry-form-container">
                    <p class="add-form-heading">Add New Root Category</p>
                    <form onsubmit="postNewRootCategory(event)" id="addctgryform">
                        <div class="form-mandatory-elements">
                            <p class="form-label">Enter Title for Root Category<i class="required">*</i></p>
                            <input type="text" placeholder="Enter Category Title" id="add-new-ctgry-input"
                                name="ctgrytitle" required>

                            <div class="select-container">
                                <label class="form-label" for="countries">Choose Package (Optional)</label>
                                <select name="countries" id="country-list-adding-new-root"
                                    onchange="selectedCountryInNewRoot(event)">
                                    <option value="" selected disabled>Choose Country..</option>
                                </select>
                                <select name="packageid" class="hide" id="package-list-for-country">
                                    <option value="" selected disabled>Choose Package..</option>
                                </select>
                            </div>

                            <div class="login-required-radio">
                                <p class="form-label">Is Login Required<i class="required">*</i></p>
                                <label>
                                    <input type="radio" name="loginrequire" value="true" required> Yes
                                </label>
                                <label>
                                    <input type="radio" name="loginrequire" value="false" required> No
                                </label>
                            </div>
                        </div>

                        <div class="form-optional-elements">
                            <label for="description" class="form-label">Add description (If Any)</label>
                            <input type="text" placeholder="Type here" name="description">

                            <label for="page" class="form-label">Attach on Page (Optional)</label>
                            <input type="text" placeholder="Type here" name="page">
                        </div>

                        <button class="btn-loader" type="submit" id="add-ctgry-form-btn">Add</button>
                    </form>
                </div>

                <!-- Modal Structure with Unique Class -->
                <!-- <div id="confirmation-modal" class="root-category-modal">
                    <div class="modal-content">
                        <h2>Choose an Action</h2>
                        <button class="choose-sub-category-btn" onclick="chooseSubCategory()">Choose Sub-category</button>
                        <button class="add-question-btn" onclick="addQuestion()">Add Question</button>
                    </div>
                </div> -->


                <!-- //// -->
                <div class="multiple-nested-selects" id="nested-new-subctgry-selectdiv">
                </div>
                <input type="text" value="" class="parentid" id="add-new-ctgry-id" readonly>
                <div class="" id="add-ctgry-more-detail">

                    <div class="" id="add-new-ctgry-subctgry">
                        <form onsubmit="postNewRootSubCategory(event)" class="">
                            <div class="form-manadatory-elements">
                                <p>Enter Title for Sub-Category<i style="color: red;font-size: small;">*</i></p>
                                <input type="text" placeholder="Enter Category Title" name="ctgrytitle" required>
                                <label for="countries">
                                    Choose Package (Optional)
                                </label>
                                <select name="countries" id="countrylist-subctgry" class="countrylist "
                                    onchange="selectedCountryInSubCtgry(event)">
                                    <option value="" selected disabled>Choose Country..</option>
                                </select>
                                <div class="login-required-radio">
                                    <p
                                        style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                                        Is Login Required<i style="font-size: smaller; color: red;">*</i></p>
                                    <label for="">
                                        <input type="radio" class="" name="loginrequire" value="true" required>
                                        Yes
                                    </label>
                                    <label for="">
                                        <input type="radio" class="" name="loginrequire" value="false" required>
                                        No
                                    </label>
                                </div>
                                <!-- <div class="has-child-radio">
                                    <p
                                        style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                                        Can Have Sub Category<i style="font-size: smaller; color: red;">*</i></p>
                                    <label for="">
                                        <input type="radio" class="" name="haschild" value="true" required>
                                        Yes
                                    </label>
                                    <label for="">
                                        <input type="radio" class="" name="haschild" value="false" required>
                                        No
                                    </label>
                                </div> -->
                            </div>
                            <div class="form-optional-elements">
                                <label for="description">
                                    Add description (If Any)
                                </label>
                                <input type="text" placeholder="Type here" id="" name="description">
                                <label for="page">
                                    Attach on Page (Optional)
                                </label>
                                <input type="text" placeholder="Type here" id="" name="page">
                                </select>
                            </div>
                            <button class="btn-loader" type="submit" id="add-ctgry-form-btn">Add Sub-Category</button>
                        </form>
                    </div>

                    <div class="hide" id="add-new-ctgry-question">
                        <form action="">
                            <label for="ctgry-title">Root Category Title</label>
                            <input type="text" name="ctgry-rootid" id="new-ctgryqstn-rootid-hidden" hidden>
                            <input type="text" name="ctgry-title" id="new-ctgryqstn-faqtitle-hidden" readonly>
                            <div class="add-remove-input-box-button">
                                <button type="button" class="add-subctgry-option-plus"
                                    onclick="addRemoveMoreCtrgyQstnsTitle(event,'add')">+</button>
                                <button type="button" class="add-subctgry-option-plus"
                                    onclick="addRemoveMoreCtrgyQstnsTitle(event,'remove')">-</button>
                            </div>
                            <div class="multiple-input-titles-box" id="add-new-ctgry-qstn-title-inputs-container">
                                <input type="text" placeholder="Enter Question title" required>
                            </div>
                            <button class="btn-loader" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="form-container hide" id="edit-qstn-form-container">
                <p class="add-form-heading">Edit Question or Category</p>
                <div class="dropdown">
                    <button id="dropdownButton">Select a Category</button>
                    <div class="dropdown-content" id="dropdownContent">
                        <input type="text" id="searchInput" placeholder="Search...">
                        <ul id="all-root-categories" onselect="selected(event)">
                        </ul>
                    </div>
                </div>
                <div>
                    <div class="hide" id="disable-btn-container">
                        <input class="edit-category-title" id="edit-ctgry-title-p" />
                        <div class="multiple-nested-selects" id="nested-edit-subctgry-selectdiv">
                        </div>
                        <div>
                            <button class="edit-ctgry-options-btn disable-enable-btn btn-loader"
                                id="ctgry-disable-enable-btn" onclick="disableEnableRootCategory(event)"></button>
                            <button class="edit-ctgry-options-btn btn-loader" style="background-color: #3498db;"
                                id="edit-panel-ctgry-add-subctgry-btn"
                                onclick="editPanelAddSubCtgryBtnHandler(event)">Add Sub-Category</button>
                            <button class="edit-ctgry-options-btn btn-loader" style="background-color: #FFA726;"
                                id="edit-panel-ctgry-add-newqstn-btn" onclick="editPanelAddNewQstnHandler(event)">Add
                                New Question</button>
                        </div>
                    </div>
                    <div class="hide" id="edit-panel-add-subctgry-form-container">
                        <div class="" id="add-new-ctgry-subctgry">
                            <form onsubmit="addNewSubCtgry(event)" class="">
                                <div class="form-manadatory-elements">
                                    <p>Enter Title for Sub-Category<i style="color: red;font-size: small;">*</i></p>
                                    <input type="text" placeholder="Enter Category Title" name="ctgrytitle" required>
                                    <label for="countries">
                                        Choose Package (Optional)
                                    </label>
                                    <select name="countries" class="countrylist"
                                        onchange="selectedCountryInSubCtgry(event)">
                                        <option value="" selected disabled>Choose Country..</option>
                                    </select>
                                    <div class="login-required-radio">
                                        <p
                                            style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                                            Is Login Required<i style="font-size: smaller; color: red;">*</i></p>
                                        <label for="">
                                            <input type="radio" class="" name="loginrequire" value="true" required>
                                            Yes
                                        </label>
                                        <label for="">
                                            <input type="radio" class="" name="loginrequire" value="false" required>
                                            No
                                        </label>
                                    </div>
                                    <div class="has-child-radio">
                                        <p
                                            style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                                            Can Have Sub Category<i style="font-size: smaller; color: red;">*</i></p>
                                        <label for="">
                                            <input type="radio" class="" name="haschild" value="true" required>
                                            Yes
                                        </label>
                                        <label for="">
                                            <input type="radio" class="" name="haschild" value="false" required>
                                            No
                                        </label>
                                    </div>
                                </div>
                                <div class="form-optional-elements">
                                    <label for="description">
                                        Add description (If Any)
                                    </label>
                                    <input type="text" placeholder="Type here" id="" name="description">
                                    <label for="page">
                                        Attach on Page (Optional)
                                    </label>
                                    <input type="text" placeholder="Type here" id="" name="page">
                                    </select>
                                </div>
                                <button class="btn-loader" type="submit" id="add-ctgry-form-btn">Add
                                    Sub-Category</button>
                            </form>
                        </div>
                    </div>
                    <div class="hide" id="edit-panel-add-qstns-form-container">
                        <form action="">
                        </form>
                    </div>
                </div>
            </div>
            <div class="form-container hide" id="add-new-qstn-form-container">
                <div class="all-main-form">
                    <p class="add-form-heading">Add New Question</p>
                    <form class="custom-form" onsubmit="postNewQuestion(event)">
                        <p class="form-label">Choose From Category</p>
                        <div class="multiple-nested-selects" id="nested-new-subctgry-selectdiv">
                            <select name="" onchange="makeNestedSubCategoriesSelect(event)">
                                <option value="">10:87</option>
                                <option value="67">10:47</option>
                            </select>
                        </div>
                        <input type="text" name='categorytitleid' readonly>
                        <div class="form-mandatory-elements">
                            <div class="title-part">
                                <p class="form-label">Enter Title for Question<i class="required">*</i></p>
                                <input type="text" placeholder="Enter Question Title" name="qstntitle" required>
                            </div>

                            <div class="select-container">
                                <div class="new-part-seelcted"> <label class="form-label" for="countries">Choose Package
                                        (Optional)</label>
                                    <select name="countries" onchange="selectedCountryInSubCtgry(event)">
                                        <option value="" selected disabled>Choose Country..</option>
                                    </select>
                                </div>
                                <input type="text" placeholder="Enter Answer Text" name="answer" required>
                            </div>
                        </div>
                        <div class="form-optional-elements">
                            <div class="description-container">
                                <label for="description" class="description-label">Add description (If Any)</label>
                                <input type="text" placeholder="Type here" name="description" class="description-input">
                            </div>

                            <div class="page-container">
                                <label for="page" class="page-label">Attach on Page (Optional)</label>
                                <input type="text" placeholder="Type here" name="page" class="page-input">
                            </div>

                            <div class="image-container">
                                <label for="image" class="image-label">Give Image Link</label>
                                <input type="text" placeholder="Paste here" name="image" class="image-input">
                            </div>

                            <div class="video-container">
                                <label for="video" class="video-label">Give Video Link</label>
                                <input type="text" placeholder="Paste here" name="video" class="video-input">
                            </div>
                        </div>


                        <button class="btn-loader" type="submit" id="add-ctgry-form-btn">Add Question</button>
                    </form>

                </div>
            </div>
            <div class="form-container hide" id="for-feedback-form-container">
                <div class="all-main-form">
                    <p class="add-form-heading">Add New Question</p>
                    <form class="custom-form" onsubmit="storeNewFeedbackForm(event)">
                       
                        <!-- Page Dropdown with Search Icon on Right -->
                        <div class="form-optional-elements">
                            <div class="page-container">
                                <label for="page" class="page-label">Select Page (Optional)</label>
                                <div class="page-select-container">
                                    <select id="page-select" name="feedpage" class="page-select" placeholder="Search for a Page">
                                        <option value="0"  selected>Search for a Page...</option>
                                        <option value="Zodiac"  >Zodiac</option>
                                    </select>
                                    <div class="search-icon-container">
                                        <i class="fas fa-search search-icon"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="video-container">
                                <label for="Question" class="Question-label">Add a Question</label>
                                <input type="text" placeholder="type here" name="feedquestion" class="Question-input">
                            </div>
                        </div>
                
                        <button class="btn-loader" type="submit" id="add-ctgry-form-btn">Add Question</button>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="home.js"></script>
</body>

</html>